<h4 class="fw-bold  text-center">THÊM DỰ ÁN KHÁCH HÀNG</h4>
<div class="col-md-6  offset-md-3">
    <!-- HTML5 Inputs -->
    <div class="card mb-4">
      <h5 class="card-header">Thông Tin Dự Án</h5>
      <div class="card-body">
        <div class="mb-3 row">
            <label for="exampleFormControlSelect1" class="col-md-2 col-form-label">Tên dự án</label>
            <div class="col-md-10">
            <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
              <option selected>Chọn dự án</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="exampleFormControlSelect1" class="col-md-2 col-form-label">Khách hàng</label>
            <div class="col-md-10">
            <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
              <option selected>Chọn khách hàng</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="exampleFormControlSelect1" class="col-md-2 col-form-label">Leader quản lý dự án</label>
            <div class="col-md-10">
            <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
              <option selected>Chọn leader quản lý dự án</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-number-input" class="col-md-2 col-form-label">Ứng tiền trước</label>
            <div class="col-md-3">
              <input class="form-control" type="number" id="html5-number-input"  placeholder="Lần 1"/>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="number" id="html5-number-input"  placeholder="Lần 2" />
            </div>
            <div class="col-md-3">
                <input class="form-control" type="number" id="html5-number-input"  placeholder="Lần 3"/>
            </div>
          </div>
        <div class="mb-3 row">
          <label for="html5-number-input" class="col-md-2 col-form-label">Ngân sách dự án</label>
          <div class="col-md-10">
            <input class="form-control" type="number" id="html5-number-input" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="html5-datetime-local-input" class="col-md-2 col-form-label">Thời gian bắt đầu</label>
          <div class="col-md-10">
            <input
              class="form-control"
              type="datetime-local"
              value="2021-06-18T12:30:00"
              id="html5-datetime-local-input"
            />
          </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-datetime-local-input" class="col-md-2 col-form-label">Thời gian kết thúc</label>
            <div class="col-md-10">
              <input
                class="form-control"
                type="datetime-local"
                value="2021-06-18T12:30:00"
                id="html5-datetime-local-input"
              />
            </div>
          </div>
       
          <!-- <div class="card-body"> -->
            <!-- <small class="text-light fw-semibold">Block level buttons</small> -->
            <div class="row mt-3">
              <div class="d-grid gap-2 col-lg-6 mx-auto">
                <button class="btn btn-primary btn-lg" type="button">Thêm dự án</button>
                <!-- <button class="btn btn-secondary btn-lg" type="button">Button</button> -->
              </div>
            <!-- </div> -->
          </div>
  
      </div>
    </div>

    <!-- File input -->
    <!-- <div class="card">
      <h5 class="card-header">File input</h5>
      <div class="card-body">
        <div class="mb-3">
          <label for="formFile" class="form-label">Default file input example</label>
          <input class="form-control" type="file" id="formFile" />
        </div>
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Multiple files input example</label>
          <input class="form-control" type="file" id="formFileMultiple" multiple />
        </div>
        <div>
          <label for="formFileDisabled" class="form-label">Disabled file input example</label>
          <input class="form-control" type="file" id="formFileDisabled" disabled />
        </div>
      </div>
    </div> -->
  </div>
