  <!-- Content -->
  <% if(messages.success) { %>
    <div
    class="bs-toast toast fade show bg-success"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <i class="bx bx-bell me-2"></i>
      <div class="me-auto fw-semibold">Thông báo</div>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <%= messages.success%>
    </div>
  </div>
  <%}%>

     <!-- Content -->
     <% if(messages.error) { %>
      <div
      class="bs-toast toast fade show bg-warning"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">Thông báo</div>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <%= messages.error%>
      </div>
    </div>
    <%}%>
<h4 class="fw-bold  text-center">THAY ĐỔI MẬT KHẨU</h4>
<div class="col-md-6  offset-md-3">
    <!-- HTML5 Inputs -->
    <div class="card mb-4">
        <h5 class="card-header">SETTING PASSWORD</h5>
        <div class="card-body">


            <form method="post" >
            <div class="mb-3 row">
                <label for="html5-number-input" class="col-md-2 col-form-label">Old Password</label>
                <div class="col-md-10">
                    <input class="form-control" name="password" type="password" id="html5-number-input" placeholder="Lần 1" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-number-input" class="col-md-2 col-form-label">New Passsword</label>
                <div class="col-md-10">
                    <input class="form-control" name="Newpassword"  type="password" id="html5-number-input" />
                </div>
            </div>

            <!-- <div class="card-body"> -->
            <!-- <small class="text-light fw-semibold">Block level buttons</small> -->
            <div class="row mt-3">
                <div class="d-grid gap-2 col-lg-6 mx-auto">
                    <button class="btn btn-primary btn-lg" type="submit">Cập nhật mật khẩu</button>
                    <!-- <button class="btn btn-secondary btn-lg" type="button">Button</button> -->
                </div>
                <!-- </div> -->
            </div>
        </form>
        </div>
    </div>
</div>


</div>